.container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    background-color: blanchedalmond;
}
.login {
    width: 350px;
    height: 600px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    border-radius: 5px;
}
.register {
    width: 350px;
    height: 600px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 2%;
    background-color: white;
    border-radius: 5px;
}
.emailLogin {
    margin-right: 25px;
}

